<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Task Manager</title>
</head>
<body>
    <h1>Welcome to Your Task Manager!</h1>
    <button id="theme-toggle" class="theme-btn">
    🌙 Dark Mode
    </button>
    <!-- Task Form -->
    <form method="POST">
        <input type="text" name="task" placeholder="Enter a new task">
        <button type="submit">Add Task</button>
    </form>

    <!-- Task List -->
    <h2>Tasks:</h2>
    <ul>
    {% for task in tasks %}
    <li class="task-item">
    <form action="{{ url_for('toggle_task', task_id=task[0]) }}" method="POST">
        <input type="checkbox"
               onchange="this.form.submit()"
               {% if task[2] %}checked{% endif %}>
    </form>

    <span class="task-text"
          {% if task[2] %}style="text-decoration: line-through; opacity:0.6;"{% endif %}>
        {{ task[1] }}
    </span>

    <a href="{{ url_for('edit_task', task_id=task[0]) }}">✏️</a>
    <a href="{{ url_for('delete_task', task_id=task[0]) }}" style="color:#ff4d4d;">❌</a>
    </li>

    {% endfor %}
    </ul>
    <script>
    const toggleBtn = document.getElementById("theme-toggle");

    if (localStorage.getItem("theme") === "dark") {
        document.body.classList.add("dark");
    }

    toggleBtn.addEventListener("click", () => {
        document.body.classList.toggle("dark");

        if (document.body.classList.contains("dark")) {
            localStorage.setItem("theme", "dark");
        } else {
            localStorage.setItem("theme", "light");
        }
    });
    </script>

</body>
</html>
